* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    border-radius: 20px;
    border: 1px solid #000;
    background: url(assets/INNAYAT\ TEAM\ 1.png), linear-gradient(309deg, #EDE4FF 60.05%, rgba(237, 228, 255, 0.00) 119.13%) 50% / cover no-repeat;
}

.body-text {

    display: flex;

    font-family: "Montserrat", sans-serif;

    align-items: center;

    justify-content: center;

    margin-top: 250px;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Montserrat", sans-serif;

}

.logo img {
    width: 125px;
    height: 125px;
}

.nav-links {

    display: flex;

    justify-content: space-around;

    width: 30%;

}

.nav-links li {

    list-style: none;

}

.nav-links a {
    color: #000;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}

.nav-links a:hover:not(.active) {
    background-color: #F9F9F9;
    ;
    border-radius: 20px;
}

.nav-links li a.active {
    background-color: #F9F9F9;
    ;
    border-radius: 20px;
}

/* main {
    margin-top: 100px;
} */

.home {
    /* font-size: 3rem; */
    height: 700px;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    position: relative;
}

.section1 {
    /* color: aliceblue; */
    width: 50%;
    /* font-size: 3rem; */
    /* padding: 20px; */
    align-items: center;
    justify-content: center;
}

.section2 {
    width: 50%;
    display: flex;


}

.boxes{
    position: relative;
    display: grid;
    top:-101px
}


.box1 {
    position: relative;
    width: 99px;
    height: 512px;
    flex-shrink: 0;
    background: linear-gradient(177deg, rgba(204, 204, 204, 0.23) 0%, #A87FF2 99.33%);

}

.box2 {
    position: relative;
    width: 99px;
    height: 512px;
    flex-shrink: 0;
    background: linear-gradient(177deg, rgba(101, 40, 247, 0.36) 0.58%, #2E1369 100%);
}

.intro {
    color: #1A7CD7;
    font-family: Kaisei Opti;
    font-size: 66.673px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 22.002px;
}

.brand {
    /* float: right; */
    /* clear:left; */
    color: #000;
    font-family: Kapakana;
    font-size: 98px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 33px;
}

.content {
    position: relative;
    top: 128px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 6.93px;
}

.image img {
    position: relative;
    border-radius: 1196px;
    background: lightgray 50% / cover no-repeat;
    top: -235px;
    /* left: 87px; */
    opacity: 0.5;
    clip-path: circle(100.0% at 100% 49%);
    overflow: hidden;

}

.buttons {
    text-align: center;
    justify-content: center;
    position: relative;
    top: 250px;
    /* padding: 128px; */
}

.btn {
    padding: 20px;
    border-radius: 50px;
    background: linear-gradient(108deg, #A076F9 6.93%, rgba(160, 118, 249, 0.36) 95.84%);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16.078px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 76px;
}

.forward {
    text-align: center;
    justify-content: center;
}

@media (max-width: 890px) {
    .home {
        flex-direction: column-reverse;
    }

    .section2 img {
        width: 595px;
        height: 595px;
        flex-shrink: 0;
    }
}